## Main .gitignore File

# Personal Information
avsrc/*
logs/*
depot/*
config/*

# Models
model_*/
videoEngine/checkpoints/*

# Local Files
__pycache__/
venv/
external_files/*

# Private Files
private_functions.py
