## Main .gitignore File

# Personal Information
config/generation_config.json
config/rxConfig.json
modelCreation/config/training_config.json
modelCreation/depot/*.csv
modelCreation/depot/output/
modelCreation/depot/GoogleTextForm/

# Models
old_models/
model_*/
videoEngine/checkpoints/*

# Local Files
__pycache__/
venv/
external_files/*
